:root{
    --main-redius:0.5rem;
}
.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 15rem 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 4rem 1fr 3fr 4rem;
    grid-template-areas: "nav nav nav nav nav nav"
    "sidebar text text text text text"
    "sidebar content1 content2 content3 content4 content5"
    "sidebar footer footer footer footer footer"; 
    grid-gap: 0.5rem;
    color: tomato;
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
}
.container *{
    padding-top: 1rem;
}
nav{
    background-color: rgb(231, 135, 25);
    grid-area: nav;
    border-radius: var(--main-redius);
}
.text{
    background-color: rgb(25, 114, 231);
    grid-area: text;
    border-radius: var(--main-redius);

}
.sidebar{
    background-color: rgb(25, 231, 42);
    grid-area: sidebar;
    border-radius: var(--main-redius);

}
.card{
    background-color: rgb(4, 53, 117);
    grid-area: card;
    border-radius: var(--main-redius);

}
#content1{
    grid-area: content1;
}
#content2{
    grid-area: content2;
}
#content3{
    grid-area: content3;
}
#content4{
    grid-area: content4;
}
#content5{
    grid-area: content5;
}
footer{
    background-color: rgb(25, 114, 231);
    grid-area: footer;
    border-radius: var(--main-redius);

}

@media only screen and (max-width:80rem){
    .container{
        grid-template-columns: 0.4fr 1fr 1fr;
        grid-template-rows: 4rem 1fr 1fr 1fr 4rem;
        grid-template-areas: "nav nav nav "
        "sidebar text text "
        "sidebar content1 content2"
        "sidebar content3 content4"
        "sidebar footer footer"; 
    }
    #content5{
        display: none;
    }
}

@media only screen and (max-width:40rem){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 4rem 1fr 1fr 1fr 1fr 1fr 1fr 1fr 4rem;
        grid-template-areas:
        "nav"
        "sidebar"
        "text"
        "content1"
        "content2"
        "content3"
        "content4"
        "content5"
        "footer";
    }
    #content5{
        display:initial;
    }
}
